{% if section.blocks.size > 0 %}
  {{ 'custom-reviews.min.css' | asset_url | stylesheet_tag }}
  {{ 'review-card.min.css' | asset_url | stylesheet_tag }}

  {% liquid
    assign title = section.settings.title
    assign bg_color = section.settings.bg_color
    assign product_bg_color = section.settings.product_bg_color 
    assign product_bg_hover_color = section.settings.product_bg_hover_color

    assign padding_top = section.settings.padding_top
    assign padding_bottom = section.settings.padding_bottom
    assign padding_top_mobile = section.settings.padding_top_mob
    assign padding_bottom_mobile = section.settings.padding_bottom_mob

    assign slider_slidesperview_mobile = section.settings.slider_slidesperview_mobile
    assign slider_slidesperview_tablet = section.settings.slider_slidesperview_tablet
    assign slider_slidesperview_desktop = section.settings.slider_slidesperview_desktop

    assign slider_spacebetween_mobile = section.settings.slider_spacebetween_mobile
    assign slider_spacebetween_tablet = section.settings.slider_spacebetween_tablet
    assign slider_spacebetween_desktop = section.settings.slider_spacebetween_desktop
  %}

  {% render 'section-spaces',
    section_id: section.id,
    padding_top: padding_top,
    padding_bottom: padding_bottom,
    padding_top_mob: padding_top_mobile,
    padding_bottom_mob: padding_bottom_mobile
  %}

  <div
    class="custom-reviews-section"
    id="section--{{ section.id }}"
    style="--bg-color: {{ bg_color }}; --bg-product-color: {{ product_bg_color }}; --bg-product-hover-color: {{ product_bg_hover_color }};"
  >
    <div class="page-width">
      {% if title != blank %}
        <h2 class="section-title">{{ title }}</h2>
      {% endif %}

      <div class="section-inner">
        <div class="custom-reviews-slider">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% liquid
                assign image = block.settings.image
                assign raiting = block.settings.raiting
                assign title = block.settings.title
                assign text = block.settings.text
                assign author = block.settings.author
                assign product = block.settings.product
                assign product_title = block.settings.product_title
              %}

              {% if title != blank and text != blank and author != blank %}
                <div class="swiper-slide">
                  {% render 'review-card',
                    image: image,
                    raiting: raiting,
                    title: title,
                    text: text,
                    author: author,
                    product: product,
                    product_title: product_title
                  %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const reviewsSlider = new Swiper('#section--{{ section.id }} .custom-reviews-slider', {
        slidesPerView: {{ slider_slidesperview_mobile }},
        spaceBetween: {{ slider_spacebetween_mobile }},
        lazy: {
          enabled: true,
          checkInView: true,
          loadOnTransitionStart: true,
          loadPrevNext: true,
          loadPrevNextAmount: 4,
        },
        pagination: {
          el: "#section--{{ section.id }} .swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: "#section--{{ section.id }} .swiper-button-next",
          prevEl: "#section--{{ section.id }} .swiper-button-prev",
        },
        breakpoints: {
          750: {
            slidesPerView: {{ slider_slidesperview_tablet }},
            spaceBetween: {{ slider_spacebetween_tablet }},
          },
          1100: {
            slidesPerView: {{ slider_slidesperview_desktop }},
            spaceBetween: {{ slider_spacebetween_desktop }},
          }
        },
      });
    });
  </script>
{% endif %}

{% schema %}
{
  "name": "Custom Reviews",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Card Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "product_bg_color",
      "label": "Product Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "product_bg_hover_color",
      "label": "Product Background Hover Color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "range",
      "min": 1,
      "max": 8,
      "step": 0.5,
      "id": "slider_slidesperview_mobile",
      "label": "( Mobile ) Slider Slides Per View",
      "default": 2.5
    },
    {
      "type": "range",
      "min": 1,
      "max": 8,
      "step": 0.5,
      "id": "slider_slidesperview_tablet",
      "label": "( Tablet ) Slider Slides Per View",
      "default": 3.5
    },
    {
      "type": "range",
      "min": 1,
      "max": 8,
      "step": 0.5,
      "id": "slider_slidesperview_desktop",
      "label": "( Desktop ) Slider Slides Per View",
      "default": 5.5
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "id": "slider_spacebetween_mobile",
      "label": "( Mobile ) Slider Space Between",
      "default": 10
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "id": "slider_spacebetween_tablet",
      "label": "( Tablet ) Slider Space Between",
      "default": 20
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "id": "slider_spacebetween_desktop",
      "label": "( Desktop ) Slider Space Between",
      "default": 30
    },
    {
      "type": "header",
      "content": "Section Spaces"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mob",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_mob",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mob",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_mob",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "limit": 8,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Photo"
        },
        {
          "type": "range",
          "min": 1,
          "max": 5,
          "step": 1,
          "id": "raiting",
          "label": "Raiting",
          "default": 5
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Product Title",
          "info": "If empty, default product name will be used"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Reviews"
    }
  ]
}
{% endschema %}
